@model User

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Register" method="post" class="form-signin">
                <h2 class="text-center">Регистрация</h2>
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="Logins"></label>
                    @Html.TextBoxFor(model => model.Logins, new { @class = "form-control", placeholder = "Имя", required = "required", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(model => model.Logins, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="Passwords"></label>
                    @Html.PasswordFor(model => model.Passwords, new { @class = "form-control", placeholder = "Пароль", required = "required" })
                    @Html.ValidationMessageFor(model => model.Passwords, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <label for="confirmPassword"></label>
                    @Html.Password("confirmPassword", "", new { @class = "form-control", placeholder = "Подтвердите пароль", required = "required" })
                    @Html.ValidationMessageFor(model => model.Passwords, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-3">Регистрация</button>
            </form>

            <form asp-action="ReturnToHomePage" asp-controller="Films" class="mt-3">
                <button type="submit" class="btn btn-secondary btn-block">Вернуться на главную</button>
            </form>
        </div>
    </div>
</div>

<style>
    .form-signin {
        background-color: #fff;
        padding: 15px;
        margin-top: 50px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    }
</style>
